{% extends "base.html" %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Online Analyst </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_040.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Adam Recruitment </b> <br> <br> <br>  
              <b> Job Description: </b> Online Analyst Specialist Retail Adam would like to meeta highly numerical Online Analyst to join my client's Online team and
              provide an indepth interpretation of all Digital Data along with recommendations based on their findings. My client is a household 
              name as a specialist retailer in their field and they are looking to expand on their Online offering. As such, the successful analyst 
              will play an integral role in their evolution Online and must have previous experience in a commercial and eCommerce environment.
               Requirements: Vast Google Analytics experience Experience with other Analytics packages would be an advantage Experience identifying 
               conversion rate and opportunities for optimisation Exposure to marketing campaigns, with a focus on search, payperclick, direct or 
               interactive online marketing. Excellent written and verbal communication skills. You will be comfortable translating your findings into 
               reports and presenting your findings internally.
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

