{% extends "base.html" %}

{% block links %}
<a href="/admin" >ADMIN</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Bars Manager Star Deluxe Hotel </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_017.png" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Castle Recruitment </b> <br> <br> <br>  
              <b> Job Description: </b> This is a great opportunity to join this excellent high quality hotel in Marlow. This opportunity offers the candidate excellent development and 
             career progression. An excellent salary is offered and is part of a group that will ensure a positive working environment. The hotel consists of 
             over 100 bedrooms and has excellent C B and F B facilities. You will need to have a good positive personality coupled with a good experience and 
             the ability to work in an organised fashion. You will be a good team player and a good communicator. The hotel is part of a quality national group. 
             You will work within a motivated team and be an important member of it. You will be looking for the next stage in your career. You will be able to 
             demonstrate a relevant Bars background and experience so far in your career within quality surroundings. To have the opportunity to work within this 
             beautiful and motivated environment apply now

</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

