{% extends "base.html" %}

{% block links %}
<a href="/admin" >ADMIN</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Catering Assistant Kent </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_018.gif" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: N E Recruitment </b> <br> <br> <br>  
              <b> Job Description: </b> Catering Assistant (parttime) required for our client located in Ashford, Kent As Catering Assistant the ideal candidate for this role will 
              have previous kitchen and front of house skills to include basic food preparation, serving and money handling, and admin / stock control skills and 
              experience The role of Catering Assistant will require you to work as part of team to provide a catering service to the staff at this establishment. 
              You will be required to ensure the smooth delivery of service and to maintain standards. This is a hands on role. The hours of work are generally 
              Monday to Friday ****hrs to ****hrs The salary for this opportunity of Part  time Catering Assistant is given as iro **** / per annum. 
              <br> <br> Please send an up to date copy of your Curriculum Vitae. N.E. Recruitment is acting as an Employment Agency in relation to this vacancy 
              We look forward to receiving all applications however due to the high number of applications we are only able to contact candidates which 
              closely match the level of skills and experience of the requirements of our clients. However for more information or opportunities 
              please contact us or forward your cv for consideration. Candidates must be eligible to live and work in the UK
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

