{% extends "base.html" %}

{% block links %}
<a href="/admin" >ADMIN</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Hospitality Apprenticeship </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_019.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: JHP Training </b> <br> <br> <br>  
              <b> Job Description: </b> JHP Training is currently working with a range of employers within the hospitality industry, including hotels, restaurants, bars and cafs, 
              who are seeking hospitality apprentices. There is a range of job roles available including: Kitchen staff / Porter Junior / Assistant Chefs 
              Bartender Waitressing Housekeeping Front of House Reception As an apprentice you will gain hands on experience and gain a nationally recognised 
              qualification. If you are aged between **** – **** and are interested in starting a career in hospitality please email Victoria Hurford on: or 
              call on **** This is a government funded position.
            </p>
            <br>
            <button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
              Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

