{% extends "base.html" %}

{% block links %}
<a href="/admin" >ADMIN</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Health Care Assistant Job Clacton </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_011.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p>  
              <b> Job Description: </b> Health Care Assistant Job Clacton Healthcare Assistant required to assist and help with all activities and daily living. Including personal care, hygiene and 
              support service users individual needs. All applicants must be over **** and be a qualified or experienced carer and have valid Health & Safety, First Aid, 
              Moving & Handling and Food Hygiene certificates. All job applicants will need to provide documentation which demonstrates their ability to work in the UK. 
              Successful candidates are required to provide an enhanced disclosure. Disclosure expense will be met by the applicant. Health Care Assistant Job Clacton
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}


