{% extends "base.html" %}

{% block links %}
<a href="/admin" >ADMIN</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Laser Optometrist Job Manchester </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_015.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b> Job Description: </b> The company is looking for individuals that can work as part of a team with the ability to establish and maintain good relationships with patients and colleagues. 
                You will be able to deal with patients sensitively yet cope with the commercial demands of a commercial environment. As a GOC registered optometrist you will have a 
                caring and confident manner with patients and you will be able to master all aspects of patient care in relation to preand post operative work in a laser vision correction 
                clinic.
                <br> <br> A firm commitment to continuous education is also a must. Your responsibility will be to work as part of a multidisciplinary team, providing preoperative assessments
                to patients attending a clinic. This involves being involved in preoperative diagnostic examination, preoperative consultation and suitability assessment as directed by company
                protocols, and the provision of a high level of followup care for patients. In return you will receive an excellent salary and benefits package. 
                Call BlackSquare for the best Optometry Jobs Laser Optometrist Job Manchester
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}
