{% extends "base.html" %}

{% block links %}
<a href="/admin" >ADMIN</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Maintenance Electrician (Textiles) </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_008.png" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Questech Recruitment Ltd </b> <br> <br> <br>
              <b> Job Description: </b> We are looking for a Maintenance Electrician to work in the in the texile industry in the West Yorkshire area. THE ROLE You will be an apprentice 
              trained Maintenance Electrician, with a 16th or 17th Edition qualification and will have experience of working within the FMCG manufacturing industry. 
              <br> <br> You will be responsible for maintaining machinery and process equipment. Also PPM s (Planned Preventative Maintenance)and project work. 
              THE HOURS Rotating 6am to 2pm and 2pm to 10pm. THE PACKAGE You will be paid between **** and **** per annum (depending on experience), plus benefits
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

