{% extends "base.html" %}

{% block links %}
<a href="/admin" >ADMIN</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Principle Mechancial Engineer  </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_006.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Rullion Engineering Ltd </b> <br> <br> <br>
              <b> Job Description: </b> Our client  a large manufacturing facility that work in the Nuclear and Defence industries are looking to recruit a Principle Mechanical Engineer to work out 
              of their Risley based offices. As a principle Engineer the role will involve supporting the Engineering Manager in Major business activities and special reports
              whilst supervising and supporting others within the engineering team. The successful candidate will coordinate and manage all engineering activities on allocated 
              projects or part projects as required and undertake mechanical design tasks, particularly the design and analysis of mechanisms and mechanical plant.
              As Principle Engineer responsibilities will include the development of allocated junior staff as well as leading discussions with internal and external 
              customer and suppliers in order to ensure that programmes are delivered to specification, cost and time.
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}
