{% extends "base.html" %}

{% block links %}
<a href="/admin" >ADMIN</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Senior Engineering Manager </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_009.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Tactiq Limited </b> <br> <br> <br>
              <b> Job Description: </b> Engineering Manager About the Job A senior engineering manager is required for this successful embedded systems development consultancy. 
              You will be keen, professional and able to work on your own initiative managing a team of experienced engineers and working as part of the 
              senior management team with directors. You will have an appreciation of commercial aspects of the business. You will need experience of developing
              embedded software and electronic systems, project management and the complete product development life cycle. Due to the nature of this role it is
              essential that you have access to a car for business use and hold a full driving licence. Role working with forecasting, budgets, contracts and
              milestones Desirable: The following qualifications and experience are considered advantageous, but are not essential. Direct experience in either 
              healthcare, automotive, defence or industrial markets Experience in growing engineering teams Knowledge of Software and Electronics engineering. 
              Experience of working in a consultancy
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

