{% extends "base.html" %}

{% block links %}
<a href="/admin" >ADMIN</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Machine Shop Supervisor </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_007.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Forde Recruitment </b> <br> <br> <br>
              <b> Job Description: </b> Our Sheffield based client has a vacancy for a Machine Shop Supervisor to join their expanding, successful organisation You will be responsible for overseeing
               a team of cnc turners and millers in a high precision manufacturing environment. Candidates must be apprentice trained with a machine shop background. 
               You need to have previous experience in a supervisory role and excellent people skills You must have the ability to lead and motivate a team and promote 
               continuous improvement This position is primarily days but candidates must be flexible to work days and afternoon shift if required Salary circa ****K
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

