{% extends "base.html" %}

{% block links %}
<a href="/admin" >ADMIN</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Employment Tax Senior Manager </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_004.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b> Job Description: </b> Employment Tax Senior Manager Gatwick Our client is looking for an employment tax senior manager to join their expanding team in the Gatwick office. 
                This is a fully fledged manager position and candidates will be required to demonstrate previous experience across all areas including management of a
                 team, project involvement, sales and marketing, communication and representation. You will responsible for maintaining an in depth, up to date,
                  knowledge of employment taxation including but not limited to PAYE, NIC, CIS, P****Ds, benefits in kind and salary sacrifice arrangements. 
                  <br> <br> Previous experience with Share Schemes is ideal but not essential. The individual will be responsible for approving and signing off work in 
                  accordance with the firm s standards under terms of tax licence . You will have extensive experience working at this level within an employee 
                  tax team and interested in developing your career further within this area. For the right individual there are excellent prospects to progress 
                  to a more senior level as well as taking on new responsibilities. Excellent benefits and bonus offered as well as competitive basic salary. 
                  If you are interested in hearing further details on the position, please contact Charlotte Roth at Hays Taxation on **** **** ****
            </p>
            <br>
            <button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
              Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}
