{% extends "base.html" %}

{% block links %}
<a href="/admin" >ADMIN</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Trainee Account Executive </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_005.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b> Company: EMPLOYMENT SPECIALISTS LTD </b> <br> <br>
              <b> Job Description: </b>  My client are a well known Broker and are looking to recruit a Trainee Account Executive to work with Corporate clients in Suffolk and Norfolk. Based in Bury St Edmunds we re looking for an Account Handler 
                who is a confident communicator and is looking to develop their career working externally with clients, and keen to progress to be an Account Executive. Dealing with all classes of commercial insurance, you will receive strong support and training to enable you to work with Corporate Clients across the area. 
                <br> <br>
                You will spend most of your time in front of Clients, after completing the necessary research, in order to gain the risk information required to provide cover for their risks. Ultimately it would then be your 
                responsibility to gain their business and then start to develop more business opportunities. 
                There is an excellent commission structure to reward you for your successes. This is an excellent and rare career opportunity for an Account Handler to progress into an Executive role.
            </p>
            <br>
            <button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
              Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}
