{% extends "base.html" %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Internal IT Sales Storage</h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_023.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Extech 2000 Recruitment Limited</b> <br> <br> <br>  
              <b> Job Description: </b>  Major player in IT is seeking an internal sales person from an IT background, ideally with NetApp experience but any IT sales considered to 
              ****k plus up to ****k ote plus benefits. Essential: One years in sales, B2B, ideally IT Knowledge of and passionate about hardware and software Enthusiastic,
               self starter, excellent on the phone, relationship builder, team player. Call for further details sales telesales
              </p>
              <br>
              <button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
                Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

