{% extends "base.html" %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Senior Software Engineer  C++, Cnet  Herts </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_024.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Lynx Recruitment Ltd </b> <br> <br> <br>  
              <b> Job Description: </b> Senior Software Engineer required for a prestigious company in Hertfordshire. In this role you will develop, select and maintain software 
              solutions for the new and existing product range. To be considered you must have **** or more years? experience in C++. C .net including winforms, MFC, 
              with demonstrable experience in WPF. User Interface design with a working knowledge of MVVM design pattern It will be beneficial to have experience in 
              image processing, graphics card processing or Machine integration experience.
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

