{% extends "base.html" %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Sales Support Consultant Surrey </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_026.png" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Penta Consulting </b> <br> <br> <br>  
              <b> Job Description: </b> We are looking for highly motivated, enthusiastic individuals who can join a team who is responsible for: &bull Assisting Consultants liaise with 
              international contractors on the issuing of contracts, the client induction process, and contractor employment needs and information that maybe requested, 
              including visa documentation and travel logistics. &bull Ensuring that procedures and processes are correctly applied and adhered to by Consultants. 
              &bull Managing the deployment process of international contractors on behalf of our consultants including Flights bookings, Car rental bookings, 
              hotel bookings. &bull To assist with all Health insurance Coordination&nbsp PLEASE APPLY NOW
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

