{% extends "base.html" %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Sales Specialist  Telecomms </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_027.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: CV Screen Ltd </b> <br> <br> <br>  
              <b> Job Description: </b> A Sales Specialist with a telecomms background is required to work for this Telecommunications company to sell products on behalf of the company, 
              working on a B2B basis. You will identify new business opportunities from initial to close, maintain the sales pipeline, maintain accurate customer 
              database records, maintain excellent relationships with staff and existing customers. Requirements  You will have a proven track record in sales and 
              will have experience working for a telecoms company. You will be focus driven with an ability to hit targets constantly and happily You will be happy 
              to work on own accord. Salary  The salary for the role is ****k  ****k. After the initial 3 month period there will be a review of salary and bonuses 
              introduced. Location  Chepstow Commutable from  Bristol  Newport  Chepstow Keywords  Sales Specialist  Sales Executive  Sales Manager  Bristol  Newport 
               Chepstow  Telecommunications
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

