{% extends "base.html" %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Trainee Sales Manager </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_029.png" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: energy solutions limited </b> <br> <br> <br>  
              <b> Job Description: </b> Energy Solutions Limited are currently recruiting for Trainee Sales Managers to help assist the Branch Manager in the day to day running of the Sales branch, 
              Applicants will also be required to visit clients at their own homes on pre arranged appointments to help asses their energy consumption. 
              Previous sales experience would be an advantage but not essential as full company training will be provided, However applicants must have their 
              own car before applying for this role. Immediate starts are available. To find out more please call Taran on **** Please do not email cv call 
              the number direct
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

