{% extends "base.html" %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Sales Advisor in Hitchin/Hertfordshire area </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_030.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Roc UK Ltd  </b> <br> <br> <br>  
              <b> Job Description: </b> ROC UK is a retail subsidiary of Esso and operates Snack n Shop and On the Run service stations throughout the UK. 
              We need flexible team players to join us in our Nightingale Snack n Shop store in Hitchin, Hertfordshire .
               Where we have various FullPart Time vacancies, a degree of flexibility will be required as these may include day and evening shifts and weekend work. 
               Applicants must be **** due to licensing laws. Customer Service experience is desirable, however full training is given. Duties include receiving deliveries, cleaning, cash handling, 
               merchandising, and other associated tasks. Company Benefits include individual bonus, competency based pay structure, pension scheme, night shift premium, 
               and great career opportunities. To apply go to www.rocpeople.co.uk and select Sales Advisors in Hitchen/Hertfordshire area.
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

