{% extends "base.html" %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Sales Support Consultant Surrey </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_028.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Mackenzie Stuart </b> <br> <br> <br>  
              <b> Job Description: </b> Sales Executive  Sports Industry Location: Leeds Salary: ****k  ****k OTE THE COMPANY:  Mackenzie Stuart is working with an independent sports services 
              company, offering marketing, event management and product procurement.  Owned by it s directors, the business has grown from strength to strength since 
              inception two years ago. THE ROLE:  The directors have now decided to recruit a Sales Executive to promote their range of services to range West Yorkshire
               market.  You will target professional sports clubs, private sports clubs, local authorities, university sports societies and anywhere else you can secure 
               business. THE REQUIREMENTS:  The ideal candidate will be degree educated, with 12 years of business to business sales experience.
                You will be a competitive sports person, with a good knowledge of a variety of different sporting environments.  You will be a highly competitive, 
                tenacious and ambitious person, who is keen to progress their career in an exciting environment
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

