{% extends "base.html" %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Modern Foreign Languages Teacher </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_032.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Essential Education  </b> <br> <br> <br>  
              <b> Job Description: </b> Essential Education are currently seeking a qualified MFL teacher with experience of delivering French Spanish to Key Stage **** for a 
              position we have vacant at a school near Altricnham, Greater Manchester. The position is full time ongoing to start in January 2013 and
               could be long term for the right candidate. Candidates must have Qualified Teacher Status, and have experience teaching in UK secondary schools.
                Candidates should have a current enhanced CRB disclosure. (If your CRB is out of date or over 12 months old then we can apply for one on your behalf.) 
                If you are available and interested in the position please forward your application today
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

