{% extends "base.html" %}

{% block body %}
<div id="main">
  <div id="content">
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <h1 id="data-title"> Teaching Assistant </h1>
        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="image" id="data-img"> <a href="#"><img style='height: auto; width: 100%; object-fit: contain' src="/static/images/job_031.jpeg" alt="" /></a> </div>
          <div class="data-article" id="data-content">
            <p> 
              <b>Company: Supply Desk </b> <br> <br> <br>  
              <b> Job Description: </b> Supply Desk are seeking dedicated and enthusiastic Teaching Assistants to work in a number of great schools throughout Wakefield and 
              surrounding areas. There are daytoday and longterm vacancies available, some of which are set to start immediately. We are looking for Teaching Assistants 
              who possess an NVQ or CACHE Level 2 or above, or have recent relevant experience. If you hold the correct qualifications and are keen to look for work 
              please call  **** or send your CV to  Since our launch in **** Supply Desk has rapidly expanded to become part of the UK`s leading education supplier. 
              <br> <br>
              Our aim is to serve the education community to the highest of standards, so if you are looking for primary, secondary or SEN positions then look no further 
              than Supply Desk. Supply Desk is an employment agency and employment business and advertises all registered vacancies, having sought agreement from their 
              clients to find candidates for these roles, in accordance with the Employment Agencies and Employment Business Regulations Act **** level 2 or equivalent 
              experience
</p>
<br>
<button onclick="location.href='javascript:CreateBookmarkLink();'" class="btn">
  Bookmark</button>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
</div>
<div class="cl">&nbsp;</div>
</div>
<div class="cl">&nbsp;</div>
</div>
{% endblock %}

